<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{{htmlWebpackPlugin.options.description}}"
    />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <style class="gradients-styles"></style>
    <style class="random-gradient-styles"></style>
    <style class="custom-gradient-styles"></style>
  </head>
  <body>
    {{! Header }}
    <header
      class="flex flex-col md:flex-row gap-y-4 items-center justify-between w-full max-w-[1440px] py-6 mx-auto"
    >
      <p class="logo text-2xl cursor-default">
        <span class="text-orange-500">A</span>LL-<span
          class="text-orange-500"
        >G</span>RADIENTS<span class="text-sm">.site</span>
      </p>
      <nav>
        <ul class="nav-menu flex flex-wrap xs:flex-nowwrap items-center justify-center gap-4">
          <li class="animate-after is-active cursor-pointer">
            Home
          </li>
          <li class="animate-after">
            <a href="#guide-section">
              Guide
            </a>
          </li>
          <li
            class="text-sm text-gray-200 bg-orange-500 rounded-full px-4 py-2 transition-transform duration-200 active:scale-95"
          >
            <a href="#custom-gradient-section">
              Create Your Own Gradients
            </a>
          </li>
        </ul>
      </nav>
    </header>

    {{! Main }}
    <main class="main">
      <p class="gradients-count-disp mb-2">

      </p>
      <div
        class="cards-container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[20px] w-full max-w-[1440px] mx-auto"
      >

      </div>
    </main>

    {{! Custom Gradient Section }}
    <section
      id="custom-gradient-section"
      class="custom-gradient-section flex flex-col mt-16"
    >
      <div class="title flex items-center relative mb-5">
        <div
          class="fading-line w-[calc(100%_-_270px)] xs:w-[calc(100%_-_290px)] h-2 absolute left-[270px] xs:left-[290px] -z-10"
        ></div>
        <h2 class="w-[260px] xs:w-[280px] text-[17px] xs:text-lg overflow-hidden mb-1">Create Your Custom
          Gradient</h2>
      </div>
      <div class="container grid grid-cols-2 2xs:grid-cols-3 xs:grid-cols-4 md:grid-cols-6 gap-6 w-full">

      </div>
      <div class="custom-gradient-container grid justify-items-center sm:justify-items-start grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mt-8">

      </div>
    </section>

    {{! Guide Section }}
    <section id="guide-section" class="guide-section flex flex-col mt-10">
      <div class="title flex items-center relative">
        <div
          class="fading-line w-[calc(100%_-_70px)] h-2 absolute left-[70px] -z-10"
        ></div>
        <h2 class="w-[60px] text-[17px] xs:text-lg overflow-hidden mb-1">Guide</h2>
      </div>
      <div class="guide-text text-[15px] xs:text-base mt-4">
        <div class="flex flex-wrap gap-x-2 mb-4 sm:mb-1">
          <span>Click on the clipboard icon to get the code of the gradient <span class="hidden sm:inline">:</span></span>
          <svg
            class="h-6 fill-gray-800"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"
          >
            <path
              d="M336 64h-53.88C268.9 26.8 233.7 0 192 0S115.1 26.8 101.9 64H48C21.5 64 0 85.48 0 112v352C0 490.5 21.5 512 48 512h288c26.5 0 48-21.48 48-48v-352C384 85.48 362.5 64 336 64zM192 64c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S160 113.7 160 96C160 78.33 174.3 64 192 64zM272 224h-160C103.2 224 96 216.8 96 208C96 199.2 103.2 192 112 192h160C280.8 192 288 199.2 288 208S280.8 224 272 224z"
            ></path>
          </svg>
        </div>
        <p>Click on each color code you see to copy its code.</p>
        <p class="mt-4">
          The output code syntax looks like :
        </p>
        <div class="syntax-highlighter-container bg-[#0D1117] rounded-2xl py-3 px-4">
          <pre
            class="syntax-highlighter w-full overflow-x-auto md:pl-8"
          ><code class="w-full min-w-[400px] text-gray-200">
<span class="text-yellow-400">// fallback - background-color - used in case of support issues</span>
<span class="text-violet-500">background-color:</span> #4389A2;
<span class="text-yellow-400">// -webkit-prefix</span>
<span class="text-violet-500">background:</span> -webkit-linear-gradient(to bottom right, #5C258D, #4389A2);
<span class="text-violet-500">background:</span> linear-gradient(to bottom right, #5C258D, #4389A2);</code>
          </pre>
        </div>
      </div>
    </section>

    {{! Toast-Notification-Container }}
    <div
      class="toast-notif-container flex flex-col gap-y-2 items-end fixed top-5 right-[30px] z-20"
    >

    </div>

    {{! Scroll-Top-Button }}
    <button
      type="button"
      class="scroll-top-btn items-center justify-center w-8 h-8 rounded-full bg-zinc-700 fixed z-30 left-[1rem] xl:left-[4rem] bottom-14 px-[7px]"
    >
      <svg
        class="fill-gray-200"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M416 352c-8.188 0-16.38-3.125-22.62-9.375L224 173.3l-169.4 169.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25C432.4 348.9 424.2 352 416 352z"
        ></path>
      </svg>
    </button>

    {{! Footer }}
    <footer class="w-full text-center my-3">
      <p>Developed By
        <a
          href="https://sina-bayan.netlify.app/"
          target="_blank"
          rel="noreferrer"
          class="text-orange-500"
        >Sina Bayandorian</a>
        with ❤️</p>
    </footer>
  </body>
</html>