<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{{htmlWebpackPlugin.options.description}}"
    />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <style class="gradients-styles"></style>
  </head>
  <body>
    {{! Header }}
    <header
      class="flex items-center justify-between w-full max-w-[1440px] py-6 mx-auto"
    >
      <p class="logo text-2xl cursor-default">
        <span class="text-orange-500">A</span>LL-<span
          class="text-orange-500"
        >G</span>RADIENTS
      </p>
      <nav>
        <ul class="nav-menu flex items-center gap-x-4">
          <li class="animate-after is-acitve cursor-pointer">
            Home
          </li>
          <li class="animate-after">
            <a href="#guide-section">
              Guide
            </a>
          </li>
          <li
            class="text-sm text-gray-200 bg-orange-500 rounded-full px-4 py-2 transition-transform duration-200 active:scale-95"
          >
            <a href="#custom-gradient-section">
              Create Your Own Gradient
            </a>
          </li>
        </ul>
      </nav>
    </header>

    {{! Main }}
    <main class="main">
      <p class="gradients-count-disp mb-6">

      </p>
      <div
        class="cards-container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[20px] w-full max-w-[1440px] mx-auto"
      >

      </div>
    </main>

    {{! Toast-Notification-Container }}
    <div
      class="toast-notif-container flex flex-col gap-y-2 items-center fixed top-5 right-[30px] z-20"
    >

    </div>

    {{! Scroll-Top-Button }}
    <button
      type="button"
      class="scroll-top-btn items-center justify-center w-8 h-8 rounded-full bg-zinc-700 fixed z-30 left-[80px] bottom-14 px-[7px]"
    >
      <svg
        class="fill-gray-200"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M416 352c-8.188 0-16.38-3.125-22.62-9.375L224 173.3l-169.4 169.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25C432.4 348.9 424.2 352 416 352z"
        ></path>
      </svg>
    </button>

    {{! Footer }}
    <footer class="w-full text-center my-3">
      <p>Developed By
        <a href="https://sina-bayan.netlify.app/" class="text-orange-500">Sina
          Bayandorian</a>
        with ❤️</p>
    </footer>
  </body>
</html>